 <div class="card p-3 m-3">
  <div class="card-header">
    Created by: {{user.name}} on  {{format_date date_created}}
  </div>
  <div class="card-body">
          <h5 class="card-title" id="blog-title" data-id="{{id}}">{{title}}</h5>
    <div class="wrapper">
      <textarea id="card-text" cols="99" rows="2"> {{blog_content}}</textarea>
    </div>     
    
    <button id="blog-update">Update</button>
  </div>
</div>
<div></div> 

{{!--
          <label id="blog-title" data-id="{{id}}">{{title}}</label>

<form class="form">
  <div class="form-group">
    <div class="card-header">
      Created by: {{user.name}} on {{date_created}}
    </div>
  </div>

  <div class="update-post-form">
      <label id="blog-title" data-id="{{id}}">{{title}}</label>
    <textarea id="card-text"> {{blog_content}}</textarea>
    <button id="blog-update">Update</button>
  
  </div>
</form>--}}

<script src="/js/blog-edit.js"></script>